// FONTS
$main-font-family: 'Alumni Sans', 'Arial', sans-serif;

//FONT COLORS
$first-font-color: #282c34;
$second-font-color: #ce0909;
$footer-font-color: #f7f4f4;
$footer-hover: #452483;


//  COLORS
$first-page-color: #f7f4f4;
$footer-bg: rgb(15, 15, 24);


//media
$mobile-bp-max: 600px;
$mobile-w: 320px;

$mobile-two-bp-min: 601px;
$mobile-two-bp-max: 767px;
$mobile-two-w: 500px;

$tablet-bp-min: 768px;
$tablet-w: 740px;
$tablet-bp-max: 1279px;

$desktop-bp-min: 1280px;
$desktop-w: 1210px;
